asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.2
django-crispy-forms==1.9.2
Django==3.0
Pillow==8.0.0
psycopg2==2.8.6
pytz==2020.1
requests==2.24.0
stripe==2.55.0
urllib3==1.25.10

